<header 
class="header h-full">
<alert-message></alert-message>
<navbar></navbar>

    <!-- Conteneur du Header -->
    <div class="header-container
        w-full 
        text-center
        text-white 
        font-quantico">
        <!-- Image steven -->
        <img class="steven-header 
        h-40 
        rounded 
        m-auto" 
        src="../../assets/yambossteven.jpg">
        <!-- "Steven YAMBOS" texte -->
        <span class="steven-title 
        text-2xl
        md:text-4xl">Steven YAMBOS</span>
        <!-- Conteneur des compétences -->
        <div class="web-mobile-container
        mt-2 
        mb-4 
        mb-12
        md:mt-6
        ">
        <p class="skills-title
        text-xl 
        mb-2
        md:text-4xl 
        md:mb-6
        drop-shadow-md">Compétences mobiles</p>
        <!-- Compétences mobiles -->
        <div class="mobile-container 
        w-full 
        flex 
        justify-center 
        gap-6
        md:mb-14
        md:gap-20">
        <img class="skill-icons 
        cursor-pointer 
        drop-shadow-md"
        id="kotlin"
        src="../../assets/kotlin-logo.webp"
        alt="Kotlin logo">
        <img class="skill-icons 
        cursor-pointer 
        drop-shadow-md" 
        id="swift" 
        src="../../assets/swift.png"
        alt="Swift logo">
        <img class="skill-icons 
        cursor-pointer 
        drop-shadow-md" 
        id="react-native" 
        src="../../assets/react.png"
        alt="React Native logo">
        <img class="skill-icons 
        cursor-pointer 
        drop-shadow-md" 
        id="firebase" 
        src="../../assets/firebase.png"
        alt="Firebase logo">
    </div> <!-- fin compétences mobiles-->

    <!-- Comptétences web -->
    <div class="web-skills
    mt-2 
    mb-4 
    md:mt-6 
    mb-12">
    <p class="skills-title 
    text-xl 
    mb-2
    md:text-4xl 
    md:mb-6
    drop-shadow-md">Compétences web</p>
    <div class="web-container 
    w-full 
    flex 
    justify-center 
    gap-6 
    md:gap-20">
    <img class="skill-icons 
    cursor-pointer 
    drop-shadow-md" 
    id="angular" 
    src="../../assets/angular.png"
    alt="Angular logo">
    <img class="skill-icons 
    cursor-pointer 
    drop-shadow-md" 
    id="nestjs" 
    src="../../assets/vuejs.svg"
    alt="VueJS logo">
    <img class="skill-icons 
    cursor-pointer 
    drop-shadow-md" 
    id="typescript" 
    src="../../assets/Typescript.png"
    alt="Typescript logo">
    </div>
    </div>
</div> <!-- fin conteneur compétences-->
</div> <!--fin du conteneur Header-->
</header>