<div class="projects-section w-full md:py-20 bg-gray-800 text-center text-white pb-12">
    <div class="py-12 w-full flex justify-center">
        <h2 class="text-4xl md:text-6xl">PROJETS</h2>
        <img src="../../assets/heart.webp" class="h-4" alt="Zelda life remaining">
      </div>

    
<div class="flex w-10/12 m-auto md:mt-20 flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-7xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <a aria-label="Application Smash Here Android" href="https://github.com/StevenYAMBOS/smash-here-app-android" target="_blank"><img class="rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="../../assets/smash-here.webp" alt="Application mobile Smash Here Android - Steven YAMBOS"></a>
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Smash Here App</h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Smash Here est une application E-sport dédiée aux joueurs souhaitant améliorer leurs compétences sur Super Smash Bros Ultimate.
            <br>
            L'application est développée en Kotlin sur Android Studio. J'utilise Firebase comme base de données.
        </p>
        <!-- Technos utilisées -->
        <div class="technos-container 
        w-full 
        flex
        justify-center
        hidden
        mx-auto
        md:flex
        md:gap-6">
        <div class="md:mt-12 md:flex align-center md:gap-6">
        <span class="md:text-lg">Technos : </span>
        <img class="skill-icons 
        cursor-pointer 
        drop-shadow-md"
        id="kotlin"
        src="../../assets/kotlin-logo.webp"
        alt="Kotlin logo">
        <img class="skill-icons 
        cursor-pointer 
        drop-shadow-md" 
        id="firebase" 
        src="../../assets/firebase.webp"
        alt="Firebase logo">
        <img class="skill-icons 
        cursor-pointer 
        drop-shadow-md" 
        id="firebase" 
        src="../../assets/android-studio.webp"
        alt="Android Studio logo">
    </div>
    </div>
</div>

</div>