<nav class="navbar 
bg-stone-900 
static 
w-full 
flex-col 
text-center">
<a routerLink="/"><img class="logo-steven m-auto md:cursor-pointer"
    src="../../assets/steven_yambos.webp" alt="Steven YAMBOS" aria-label="Steven YAMBOS Développeur Web et Mobile"></a>

    <ul class="nav-menu 
    text-white 
    text-2xl 
    text-center">
    <li>
        <a class="home-menu md:hover:font-semibold" 
        routerLink="/home" 
        routerLinkActive="active">Accueil</a>
    </li>
    <li>
        <a class="md:hover:font-semibold"
        routerLink="/about" 
        routerLinkActive="active">Compétences</a>
    </li>
    </ul>
    <button class="button-contact 
    w-40 
    h-12
    my-2
    md:my-6 
    text-white 
    rounded 
    bg-gray-600
    md:hover:bg-white
    md:hover:text-gray-600
    "
    (click)="goToPage('contact')">Me contacter ✉️</button>
</nav>
