<div class="experience-section w-full md:py-20 bg-gray-800 text-center text-white">
    <div class="pt-12 w-full flex justify-center">
      <h2 class="text-4xl md:text-6xl">EXPERIENCES</h2>
      <img src="../../assets/mario.webp" class="h-4">
    </div>
    

    <!-- Conteneur des blocks -->
    <div class="w-full flex flex-col md:flex-row md:mt-20 justify-center md:justify-around">
    <!-- QURAN QAT -->
    <div class="qat-container max-w-sm rounded overflow-hidden shadow-lg m-auto mt-12">
        <img class="w-full" src="../../assets/quranqat.webp" alt="Quran QAT">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">Développement web</div>
    <p class="text-gray-500 text-base">
        Première alternance en développement web comprenant la création initiale du site sur <strong>WordPress</strong>, suivi par la conception d'une page d'accueil en <strong>HTML, CSS (Tailwind) </strong>et <strong>JavaScript</strong>.
    </p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 cursor-pointer">#Javascript</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 cursor-pointer">#Wordpress</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 cursor-pointer">#Tailwind</span>
  </div>
    </div>

    <!-- COMIN APP -->
    <div class="qat-container max-w-sm rounded overflow-hidden shadow-lg m-auto mt-12">
        <img class="w-full" src="../../assets/comin.webp" alt="Quran QAT">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">Développement mobile</div>
    <p class="text-gray-500 text-base">
        Seconde alternance en développement mobile en <strong>React Native (Typescript) </strong>comprenant l'ajout de fonctionnalités et la résolution de bugs.
        <br>Création d'une newsletter Javascript, ainsi que la création d'une page d'accueil en <strong>VueJS</strong>.
    </p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 cursor-pointer">#Typescript</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 cursor-pointer">#React Native</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 cursor-pointer">#Expo</span>
  </div>
    </div>

  </div> <!-- fin conteneur blocks-->
</div>