<div class="w-full bg-sky-950">
    <div class="pt-12 w-full flex justify-center">
        <h2 class="text-white text-4xl md:text-6xl">COMPÉTENCES</h2>
        <img src="../../assets/chun-li.gif" class="h-14">
      </div>      

    <div class="grid">
        <div class="grid-item" id="myBtn1">
            <img src="../../assets/kotlin-logo.webp" alt="kotlin logo">
            <span>Kotlin</span>
        </div>
        <div class="grid-item" id="myBtn2">
            <img src="../../assets/swift.webp" alt="Swift logo">
            <span>Swift</span>
        </div>
        <div class="grid-item" id="myBtn3">
            <img src="../../assets/java.webp" alt="Java logo">
            <span>Java</span>
        </div>
        <div class="grid-item" id="myBtn4">
            <img src="../../assets/react-native.webp" alt="React Native logo">
            <span>React Native</span>
        </div>
        <div class="grid-item" id="myBtn5">
            <img src="../../assets/typescript.webp" alt="Typescript logo">
            <span>Typescript</span>
        </div>
        <div class="grid-item" id="myBtn6">
            <img src="../../assets/angular.webp" alt="Angular logo">
            <span>Angular</span>
        </div>
        <div class="grid-item" id="myBtn7">
            <img src="../../assets/vuejs.svg" alt="VueJS logo">
            <span>VueJS</span>
        </div>
        <div class="grid-item" id="myBtn8">
            <img src="../../assets/firebase.webp" alt="Firebase logo">
            <span>Firebase</span>
        </div>
        <div class="grid-item" id="myBtn9">
            <img src="../../assets/github.webp" alt="Github logo">
            <span>Github</span>
        </div>
        <div class="grid-item" id="myBtn10">
            <img src="../../assets/git.webp" alt="Git logo">
            <span>Git</span>
        </div>
        <div class="grid-item" id="myBtn11">
            <img src="../../assets/android-studio.webp" alt="Android Studio logo">
            <span>Android Studio</span>
        </div>
        <div class="grid-item" id="myBtn12">
            <img src="../../assets/xcode.webp" alt="Xcode logo">
            <span>Xcode</span>
        </div>
    </div>


<!-- Popup KOTLIN-->
<div id="myModal1" class="modal">
    <!--Contenu-->
    <div class="modal-content bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Titre-->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl md:text-2xl font-semibold text-gray-900 dark:text-white">
                    Kotlin
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Mon 1er langage de programmation est Kotlin. Avant même d'apprendre le HTML je me suis directement lançé en Kotlin pour réaliser un projet personnel. Aujourd'hui je considère que c'est le langage que je maîtrise le mieux et je souhaite me spécialiser en développement mobile côté Android (pour le moment).
                </p>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Parmi mes réalisations notables, je travaille actuellement sur le développement d'une application
                    e-sport en Kotlin pour Android, avec une sortie prévue courant 2024. L'application est dédiée aux joueurs souhaitant améliorer leurs compétences sur Super Smash Bros Ultimate, un jeu de combat de la série Nintendo sur la console Switch. Elle regroupe tous les conseils nécessaires pour comprendre le jeu, des astuces pour affronter chaque personnage, ainsi que des techniques avancées pour maîtriser pleinement son personnage.
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button"
                    class="close button text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Fermer</button>
            </div>
        </div>
    </div>
</div>


<!-- Popup SWIFT -->
<div id="myModal2" class="modal">
    <!--Contenu-->
    <div class="modal-content bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Titre-->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl md:text-2xl font-semibold text-gray-900 dark:text-white">
                    Swift
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Ayant développé mon projet E-sport en Kotlin j'ai souhaité ne pas me fermer de porte et le développé aussi en Swift. Mon objectif est de rendre l'application accessible aux utilisateurs iOS, en mettant à profit mon apprentissage et mes compétences nouvellement acquises dans le domaine.
                </p>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Je développe actuellement avec Swift UIKIT et j'attends d'avoir des bases suffisement solides pour ensuite passer sur Swift UI. Je développe sans Storyboard.
                    Je continue à réaliser de mini-projets pour déterminer si je souhaite me spécialiser en Swift ou Kotlin pour le mobile.
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button"
                    class="close button text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- Popup JAVA -->
<div id="myModal3" class="modal">
    <!--Contenu-->
    <div class="modal-content bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Titre-->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl md:text-2xl font-semibold text-gray-900 dark:text-white">
                    Java
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    La découverte de Java a significativement enrichi ma compréhension de la programmation orientée objet, ainsi que de la programmation en général. Mon apprentissage a été une expérience des plus agréables (merci
                    <a href="https://www.codecademy.com/" target="_blank"><u>Codecademy</u></a> !).
                </p>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    J'ai repris en Java des applications mobiles que j'avais préalablement conçues en Kotlin, tout en effectuant de modestes projets avec Spring Boot pour acquérir une expérience côté serveur. J'estime désormais posséder une base solide des fondamentaux.
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button"
                    class="close button text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Fermer</button>
            </div>
        </div>
    </div>
</div>


<!-- Popup REACT NATIVE -->
<div id="myModal4" class="modal">
    <!--Contenu-->
    <div class="modal-content bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Titre-->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl md:text-2xl font-semibold text-gray-900 dark:text-white">
                    React Native
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Mon expérience en React Native s'est développée au fil de mon alternance chez COMIN. Cette opportunité m'a permis d'approfondir mes compétences dans l'écosystème React et de consolider ma maîtrise du langage Typescript. Pendant la période de mon apprentissage, j'ai principalement contribué en enrichissant l'application de nouvelles fonctionnalités et en résolvant les problèmes identifiés.
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button"
                    class="close button text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- Popup TYPESCRIPT -->
<div id="myModal5" class="modal">
    <!--Contenu-->
    <div class="modal-content bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Titre-->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl md:text-2xl font-semibold text-gray-900 dark:text-white">
                    Typescript
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Mon initiation à Typescript trouve ses racines dès ma première alternance chez Quran QAT. J'ai exploité ce langage lors de la création de pages d'accueil pour des sites statiques, dans le développement d'applications en React Native, et même pour donner vie à ce portfolio 🙂 !
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button"
                    class="close button text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- Popup ANGULAR -->
<div id="myModal6" class="modal">
    <!--Contenu-->
    <div class="modal-content bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Titre-->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl md:text-2xl font-semibold text-gray-900 dark:text-white">
                    Angular
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Je tiens à être transparent en précisant que bien que j'aie une préférence marquée pour Angular en tant que framework Frontend, c'est celui que je maîtrise le moins à l'heure actuelle. Au cours de mon cursus en Bachelor, j'ai néanmoins réalisé des projets avec ce dernier.
                </p>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Cependant, afin de renforcer mes compétences, j'ai choisi de développer ce portfolio en utilisant Angular. Actuellement, je nourris l'ambition (pour le moment du moins) de me spécialiser dans le développement mobile. Toutefois, je tiens à garder mon champ d'expertise ouvert et à maîtriser un framework pour le développement Web en Front. Et dans ce domaine, mon préféré demeure Angular (même si l'utiliser pour créer un portfolio peut sembler un peu exagéré 😂) !
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button"
                    class="close button text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- Popup VUEJS -->
<div id="myModal7" class="modal">
    <!--Contenu-->
    <div class="modal-content bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Titre-->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl md:text-2xl font-semibold text-gray-900 dark:text-white">
                    VueJS
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    J'ai eu l'occasion d'utiliser VueJS à plusieurs reprises au cours de mon parcours en développement web, notamment au sein de mes expériences en alternance. Lors de ma première alternance chez Quran QAT, j'ai élaboré une page d'accueil pour l'entreprise en utilisant VueJS. De même, lors de ma seconde alternance, j'ai également conçu une page d'accueil en faisant appel à ce framework.
                </p>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    En outre, dans le cadre d'un projet au cours de mon cursus en Bachelor, j'ai opté pour VueJS (avec Firebase) pour la création d'une application complète.
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button"
                    class="close button text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- Popup FIREBASE -->
<div id="myModal8" class="modal">
    <!--Contenu-->
    <div class="modal-content bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Titre-->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl md:text-2xl font-semibold text-gray-900 dark:text-white">
                    Firebase
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Firebase est devenu mon compagnon de route par excellence. Depuis mes débuts dans le développement en Kotlin, j'ai fait de lui mon allié incontournable, que ce soit pour des projets de petite envergure ou même pour MON projet personnel. La simplicité et la rapidité d'intégration de Firebase ont été déterminantes, offrant une solution automatisée pour de nombreuses tâches lorsque mes compétences en backend n'étaient pas encore totalement abouties.
                </p>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Aujourd'hui, j'ajuste toujours mon choix en fonction du projet à accomplir, en privilégiant notamment Firebase pour les réalisations plus modestes. Dans cette aventure, j'ai principalement approfondi mes compétences dans les fonctionnalités de stockage et dans l'utilisation de la base de données en temps réel (Real Time Database) offertes par Firebase.
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button"
                    class="close button text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- Popup GITHUB -->
<div id="myModal9" class="modal">
    <!--Contenu-->
    <div class="modal-content bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Titre-->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl md:text-2xl font-semibold text-gray-900 dark:text-white">
                    Github
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Github est la plateforme de gestion de versions de projets que je préfère. Pendant de ma formation, j'ai eu l'opportunité de collaborer sur divers projets impliquant plusieurs développeurs. C'est ainsi que j'ai acquis une solide expérience en matière de travail sur des branches dédiées, de réalisation de fusions (merges), ainsi que de publication et de mise à jour de dépôts.
                </p>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Bien que je maîtrise les fonctionnalités principales de GitHub, je continue encore à découvrir de nouvelles choses.
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button"
                    class="close button text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- Popup GIT -->
<div id="myModal10" class="modal">
    <!--Contenu-->
    <div class="modal-content bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Titre-->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl md:text-2xl font-semibold text-gray-900 dark:text-white">
                    Git
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    J'ai tellement fais d'erreur avec les commandes Git... C'est terrifiant. Apparement c'est on faisant des erreurs qu'on apprend donc je suis sur la bonne voie 🫠.
                </p>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Toutefois, avec le temps et l'expérience, j'ai réussi à maîtriser les commandes essentielles pour publier, mettre à jour et même supprimer des projets, entre autres compétences acquises.
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button"
                    class="close button text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- Popup ANDROID STUDIO -->
<div id="myModal11" class="modal">
    <!--Contenu-->
    <div class="modal-content bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Titre-->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl md:text-2xl font-semibold text-gray-900 dark:text-white">
                    Android Studio
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    J'ai passé beaucoup de temps sur Android Studio lors de mon apprentissage de Kotlin & Java pour le développement d'applications mobiles Android. Mon parcours m'a permis d'acquérir une maîtrise solide de la gestion de Gradle, des configurations des machines virtuelles et des intégrations de Firebase, parmi d'autres compétences. Toutefois, j'entrevois encore un approfondissement nécessaire de mes compétences en matière de débogage, un domaine où je compte bien me perfectionner davantage.
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button"
                    class="close button text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- Popup Xcode -->
<div id="myModal12" class="modal">
    <!--Contenu-->
    <div class="modal-content bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Titre-->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl md:text-2xl font-semibold text-gray-900 dark:text-white">
                    Xcode
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Mon parcours avec Xcode, en tant qu'IDE, a été moins intensif comparé à d'autres. Actuellement, je poursuis mon apprentissage de Swift en parallèle avec celui de Kotlin. Cependant, je rencontre des difficultés lors de l'accomplissement de tâches simple sur Xcode, des difficultés que je résous rapidement sur Android Studio. 
                </p>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Mon niveau de compréhension s'approfondit davantage quant au fonctionnement de l'AppDelegate et à la gestion du storyboard, des éléments que je comprends mieux au fil du temps.
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button"
                    class="close button text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Fermer</button>
            </div>
        </div>
    </div>
</div>
