<div class="w-full bg-sky-950">
    <div class="pt-12 w-full flex justify-center">
        <h2 class="text-white text-4xl md:text-6xl">COMPÉTENCES</h2>
        <img src="../../assets/chun-li.gif" class="h-14">
      </div>      

    <div class="grid">
        <div class="grid-item" id="myBtn1">
            <img src="../../assets/kotlin-logo.webp" alt="kotlin logo">
            <span>Kotlin</span>
        </div>
        <div class="grid-item" id="myBtn2">
            <img src="../../assets/swift.png" alt="Swift logo">
            <span>Swift</span>
        </div>
        <div class="grid-item" id="myBtn3">
            <img src="../../assets/java.png" alt="Java logo">
            <span>Java</span>
        </div>
        <div class="grid-item" id="myBtn4">
            <img src="../../assets/react.png" alt="React Native logo">
            <span>React Native</span>
        </div>
        <div class="grid-item" id="myBtn5">
            <img src="../../assets/Typescript.png" alt="Typescript logo">
            <span>Typescript</span>
        </div>
        <div class="grid-item" id="myBtn6">
            <img src="../../assets/angular.png" alt="Angular logo">
            <span>Angular</span>
        </div>
        <div class="grid-item" id="myBtn7">
            <img src="../../assets/vuejs.svg" alt="VueJS logo">
            <span>VueJS</span>
        </div>
        <div class="grid-item" id="myBtn8">
            <img src="../../assets/firebase.png" alt="Firebase logo">
            <span>Firebase</span>
        </div>
        <div class="grid-item" id="myBtn9">
            <img src="../../assets/github2.png" alt="Github logo">
            <span>Github</span>
        </div>
        <div class="grid-item" id="myBtn10">
            <img src="../../assets/git.png" alt="Git logo">
            <span>Git</span>
        </div>
        <div class="grid-item" id="myBtn11">
            <img src="../../assets/android-studio.png" alt="Android Studio logo">
            <span>Android Studio</span>
        </div>
        <div class="grid-item" id="myBtn12">
            <img src="../../assets/xcode.png" alt="Xcode logo">
            <span>Xcode</span>
        </div>
    </div>


<!-- The Modal -->
<div id="myModal1" class="modal">
<!-- Modal content -->
<div class="modal-content">
    <span class="close">&times;</span>
    <h4 class="">Kotlin</h4>
    <p>Parmi mes réalisations notables, je travaille actuellement sur le développement d'une application e-sport en Kotlin pour Android, avec une sortie prévue courant 2024. Cette application vise à fournir aux utilisateurs une expérience immersive dans le monde de l'e-sport en proposant des informations en temps réel, des statistiques, des actualités et bien plus encore. Ce projet illustre ma capacité à concevoir et mettre en œuvre des fonctionnalités complexes tout en gardant l'expérience utilisateur au centre de mes préoccupations.</p>
  </div>
</div>

<!-- The Modal -->
<div id="myModal2" class="modal">
<!-- Modal content -->
<div class="modal-content">
    <span class="close">&times;</span>
    <p>Parmi mes réalisations notables, je travaille actuellement sur le développement d'une application e-sport en Kotlin pour Android, avec une sortie prévue courant 2024. Cette application vise à fournir aux utilisateurs une expérience immersive dans le monde de l'e-sport en proposant des informations en temps réel, des statistiques, des actualités et bien plus encore. Ce projet illustre ma capacité à concevoir et mettre en œuvre des fonctionnalités complexes tout en gardant l'expérience utilisateur au centre de mes préoccupations.</p>
  </div>
</div>

<!-- The Modal -->
<div id="myModal3" class="modal">
<!-- Modal content -->
<div class="modal-content">
    <span class="close">&times;</span>
    <p>Parmi mes réalisations notables, je travaille actuellement sur le développement d'une application e-sport en Kotlin pour Android, avec une sortie prévue courant 2024. Cette application vise à fournir aux utilisateurs une expérience immersive dans le monde de l'e-sport en proposant des informations en temps réel, des statistiques, des actualités et bien plus encore. Ce projet illustre ma capacité à concevoir et mettre en œuvre des fonctionnalités complexes tout en gardant l'expérience utilisateur au centre de mes préoccupations.</p>
  </div>
</div>

<!-- The Modal -->
<div id="myModal4" class="modal">
<!-- Modal content -->
<div class="modal-content">
    <span class="close">&times;</span>
    <p>Parmi mes réalisations notables, je travaille actuellement sur le développement d'une application e-sport en Kotlin pour Android, avec une sortie prévue courant 2024. Cette application vise à fournir aux utilisateurs une expérience immersive dans le monde de l'e-sport en proposant des informations en temps réel, des statistiques, des actualités et bien plus encore. Ce projet illustre ma capacité à concevoir et mettre en œuvre des fonctionnalités complexes tout en gardant l'expérience utilisateur au centre de mes préoccupations.</p>
  </div>
</div>

<!-- The Modal -->
<div id="myModal5" class="modal">
<!-- Modal content -->
<div class="modal-content">
    <span class="close">&times;</span>
    <p>Parmi mes réalisations notables, je travaille actuellement sur le développement d'une application e-sport en Kotlin pour Android, avec une sortie prévue courant 2024. Cette application vise à fournir aux utilisateurs une expérience immersive dans le monde de l'e-sport en proposant des informations en temps réel, des statistiques, des actualités et bien plus encore. Ce projet illustre ma capacité à concevoir et mettre en œuvre des fonctionnalités complexes tout en gardant l'expérience utilisateur au centre de mes préoccupations.</p>
  </div>
</div>

<!-- The Modal -->
<div id="myModal6" class="modal">
<!-- Modal content -->
<div class="modal-content">
    <span class="close">&times;</span>
    <p>Parmi mes réalisations notables, je travaille actuellement sur le développement d'une application e-sport en Kotlin pour Android, avec une sortie prévue courant 2024. Cette application vise à fournir aux utilisateurs une expérience immersive dans le monde de l'e-sport en proposant des informations en temps réel, des statistiques, des actualités et bien plus encore. Ce projet illustre ma capacité à concevoir et mettre en œuvre des fonctionnalités complexes tout en gardant l'expérience utilisateur au centre de mes préoccupations.</p>
  </div>
</div>

<!-- The Modal -->
<div id="myModal7" class="modal">
<!-- Modal content -->
<div class="modal-content">
    <span class="close">&times;</span>
    <p>Parmi mes réalisations notables, je travaille actuellement sur le développement d'une application e-sport en Kotlin pour Android, avec une sortie prévue courant 2024. Cette application vise à fournir aux utilisateurs une expérience immersive dans le monde de l'e-sport en proposant des informations en temps réel, des statistiques, des actualités et bien plus encore. Ce projet illustre ma capacité à concevoir et mettre en œuvre des fonctionnalités complexes tout en gardant l'expérience utilisateur au centre de mes préoccupations.</p>
  </div>
</div>

<!-- The Modal -->
<div id="myModal8" class="modal">
<!-- Modal content -->
<div class="modal-content">
    <span class="close">&times;</span>
    <p>Parmi mes réalisations notables, je travaille actuellement sur le développement d'une application e-sport en Kotlin pour Android, avec une sortie prévue courant 2024. Cette application vise à fournir aux utilisateurs une expérience immersive dans le monde de l'e-sport en proposant des informations en temps réel, des statistiques, des actualités et bien plus encore. Ce projet illustre ma capacité à concevoir et mettre en œuvre des fonctionnalités complexes tout en gardant l'expérience utilisateur au centre de mes préoccupations.</p>
  </div>
</div>

<!-- The Modal -->
<div id="myModal9" class="modal">
<!-- Modal content -->
<div class="modal-content">
    <span class="close">&times;</span>
    <p>Parmi mes réalisations notables, je travaille actuellement sur le développement d'une application e-sport en Kotlin pour Android, avec une sortie prévue courant 2024. Cette application vise à fournir aux utilisateurs une expérience immersive dans le monde de l'e-sport en proposant des informations en temps réel, des statistiques, des actualités et bien plus encore. Ce projet illustre ma capacité à concevoir et mettre en œuvre des fonctionnalités complexes tout en gardant l'expérience utilisateur au centre de mes préoccupations.</p>
  </div>
</div>

<!-- The Modal -->
<div id="myModal10" class="modal">
<!-- Modal content -->
<div class="modal-content">
    <span class="close">&times;</span>
    <p>Parmi mes réalisations notables, je travaille actuellement sur le développement d'une application e-sport en Kotlin pour Android, avec une sortie prévue courant 2024. Cette application vise à fournir aux utilisateurs une expérience immersive dans le monde de l'e-sport en proposant des informations en temps réel, des statistiques, des actualités et bien plus encore. Ce projet illustre ma capacité à concevoir et mettre en œuvre des fonctionnalités complexes tout en gardant l'expérience utilisateur au centre de mes préoccupations.</p>
  </div>
</div>

<!-- The Modal -->
<div id="myModal11" class="modal">
<!-- Modal content -->
<div class="modal-content">
    <span class="close">&times;</span>
    <p>Parmi mes réalisations notables, je travaille actuellement sur le développement d'une application e-sport en Kotlin pour Android, avec une sortie prévue courant 2024. Cette application vise à fournir aux utilisateurs une expérience immersive dans le monde de l'e-sport en proposant des informations en temps réel, des statistiques, des actualités et bien plus encore. Ce projet illustre ma capacité à concevoir et mettre en œuvre des fonctionnalités complexes tout en gardant l'expérience utilisateur au centre de mes préoccupations.</p>
  </div>
</div>

<!-- The Modal -->
<div id="myModal12" class="modal">
<!-- Modal content -->
<div class="modal-content">
    <span class="close">&times;</span>
    <p>Parmi mes réalisations notables, je travaille actuellement sur le développement d'une application e-sport en Kotlin pour Android, avec une sortie prévue courant 2024. Cette application vise à fournir aux utilisateurs une expérience immersive dans le monde de l'e-sport en proposant des informations en temps réel, des statistiques, des actualités et bien plus encore. Ce projet illustre ma capacité à concevoir et mettre en œuvre des fonctionnalités complexes tout en gardant l'expérience utilisateur au centre de mes préoccupations.</p>
  </div>
</div>
